<!--<div style="background-color: green;" *ngIf="isTruthy()">Sou um div!</div>
<div id="minha-div" style="display: none;">Sou uma div escondida!</div>
<h1>TESSSTEEEE</h1>
<h1>Nome:</h1>
<input type="text" [(ngModel)]="name" (ngModelChange)="handleInputChange($event)" />


<h1>Nome digitado: {{ name }}</h1>

type="text" [ngModel]="name"  <-- Input
(ngModelChange)="handleInputChange($event) <-- Output"



<div style="background-color: green;" *ngIf="minhaProp; else meuTemplate">Sou um div!</div>

<ng-template #meuTemplate>
    <div style="background-color: red;">Sou uma outra div!</div>
</ng-template>

<button (click)="toggleProp()">Toggle</button>


<ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplate"></ng-container>


<ng-template #meuTemplate>
    <div style="background-color: green;">Sou a div "then"!</div>
</ng-template>

<ng-template #meuOutroTemplate>
    <div style="background-color: red;">Sou a div "else"!</div>
</ng-template>

<button (click)="toggleProp()">Toggle</button>

<div id="minha-div" style="visibility: hidden;">Sou uma div escondida!</div>

<h1>Sou um texto</h1>

<div *ngFor="let item of listPessoas">
    {{ item }}
</div>

 </div>
    <div class="item item--highlighted">
        <p class="item__name">Fulano da Silva</p>
        <p class="item__age">34 anos</p>
    </div>
    <div class="item item--odd">
        <p class="item__name">Jorginho Carvalho</p>
        <p class="item__age">55 anos</p>
    </div>
    <div class="item">
        <p class="item__name">Joazinho da Silva</p>
        <p class="item__age">18 anos</p>
    </div>
    <div class="list" *ngIf="true">
-->
<div class="list">
    <app-person 
    *ngFor="let person of listPeople; 
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isOdd = odd;"
    [personName]="person.name"
    [personAge]="person.age"
    [personIndex]="i"
    [isFirst]="isFirst"
    [isLast]="isLast"
    [isOdd]="isOdd"
    [isSelected]="personSelectedIndex === i"
    (personSelected)="selectPerson($event)"
    >
</app-person>  
</div>


