/*.list {
    background-color: red;
    padding: 3px;
}
  

.is-big{
    font-size: 50px;
}

.is-green{
    color: white;
    background-color: green;
}

.is-orange{
    color: white;
    background-color: orange;
}
      */


.active {
    color: white;
    background-color: green;
}

.partial {
    color: white;
    background-color: orange;
}


.blocked {
    color: white;
    background-color: red;
}