<!--<div style="background-color: green;" *ngIf="isTruthy()">Sou um div!</div>-->

<div style="display: none;">Sou uma div escondida!</div>

<!--    

<h1>Nome:</h1>
<input type="text" [(ngModel)]="name" (ngModelChange)="handleInputChange($event)" />


<h1>Nome digitado: {{ name }}</h1>

type="text" [ngModel]="name"  <-- Input
(ngModelChange)="handleInputChange($event) <-- Output"



<div style="background-color: green;" *ngIf="minhaProp; else meuTemplate">Sou um div!</div>

<ng-template #meuTemplate>
    <div style="background-color: red;">Sou uma outra div!</div>
</ng-template>

<button (click)="toggleProp()">Toggle</button>


<ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplate"></ng-container>


<ng-template #meuTemplate>
    <div style="background-color: green;">Sou a div "then"!</div>
</ng-template>

<ng-template #meuOutroTemplate>
    <div style="background-color: red;">Sou a div "else"!</div>
</ng-template>

<button (click)="toggleProp()">Toggle</button>


-->